##############################
## Folders                  ##
##############################
target
.settings
##############################
## Files                    ##
##############################
.project
src/main/resources/application-dev.properties
