##############################
## Folders                  ##
##############################
target
.settings
##############################
## Files                    ##
##############################
.project
